<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981771515976-u7i3pphhp6rsdfgopmtbg68j3ip7enfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981771515976-u7i3pphhp6rsdfgopmtbg68j3ip7enfr</string>
	<key>API_KEY</key>
	<string>AIzaSyBpAZKm13El3Akly3BHiWezNvmNHKhBxko</string>
	<key>GCM_SENDER_ID</key>
	<string>981771515976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inowshoujo.potatosport</string>
	<key>PROJECT_ID</key>
	<string>potatosport-af9a0</string>
	<key>STORAGE_BUCKET</key>
	<string>potatosport-af9a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981771515976:ios:f7bb8b8d93a2e265d3007d</string>
</dict>
</plist>